body {
	background-color: #457832;
	position: relative;
}

#mainblock {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	border: 1px solid red;
}

#button {
	width: 100px;
	height: 30px;
}