body {
	position: relative;
}

#mainblock {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 200px;
	text-align: center;
	margin: -100px 0 0 -300px;
}

input {
	display: inline-block;
}

#color {
	font-size: 20px;
	font-weight: bold;
}

p {
	font-size: 18px;
    margin-top: 10px !important;
}