* {
	border: 1px solid red;
}

body {
	position: relative;
}

#mainblock {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 300px;
	text-align: center;
	margin: -150px 0 0 -300px;
}

#color {
	font-size: 20px;
	font-weight: bold;
}

#color {
	font-size: 18px;
    margin-top: 10px !important;
}

label {
	display: inline !important;
	font-weight: bold;
	font-size: 18px;
}